body {
    padding: 0;
    margin: 0;
    background:#b3c9c8;
}
.card{
    background:#2780a1;
}
.navbar {
    background:#2780a1;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

#navbar-left-upper-logo{
    padding: 5px;
}

#footer-upper,
#footer-middle,
#footer-bottom{
    color: #fff;
}